* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 1380px;
    display: flex;
    flex-wrap: wrap;
}

.menu {
    position: absolute;
    width: 80px;
    background: linear-gradient(to bottom, #de6262,#dd5e89);
}

.header {
    width: 1380px;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    flex-grow: 1;
}

.statistics {
    width: 1384px;
    height: 110px;
    flex-grow: 2;
    background-color: chocolate;
}

.main {
    height: 796px;
    flex-grow: 3;
    background-color: darkblue;
}

.sidebar {
    height: 796px;
    flex-grow: 4;
    background-color: crimson;
}

.menu__list {
    margin: 3em 0px;
    font-family: 'lato';
    font-size: 0.7em;
    list-style-type: none;
    text-align: center;
    color: rgb(255, 255, 255);
}

.menu__logo {
    margin-top: 15px;
    font-family: 'courgette';
    font-size: 1.9em;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to bottom, #de6262,#dd5e89);
}

.menu__power-button {
    margin: 534px 0 10px;
    list-style-type: none;
    text-align: center;
}

.header__img {
    margin-top: 19px;
    margin-left: 22px;
    width: 25px;
    height: 20px;
}

.header__list {
    height: 30px;
    width: 70px;
    margin: 10px 5px;
    color: lawngreen;
}

.header__input {
    margin-top: 15px;
    width: 450px;
    text-align: center;
}

#ip1 {
    border-radius: 18px;
    margin-top: 13px;
    background: grey;
    width: 200px;
    height: 28px;    
}

.header__list__name {
    padding-top: 20px;
    width: 200px;
    text-align: center;
}

.header__ellipse {
    margin-top: 20px;

}


















