* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 1380px;
    display: flex;
    flex-direction: row;
}

.menu {
    margin: 0px auto;
    height: 1000px;
    width: 78px;
    background: linear-gradient(to bottom, #de6262,#dd5e89);
}

.header {
    width: 1298px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    background-color: rgb(137, 143, 145);
}

.statistics {
    width: 1384px;
    height: 110px;
    flex-grow: 2;
    background-color: chocolate;
}

.main {
    width: 650px;
    height: 796px;
    flex-grow: 3;
    background-color: darkblue;
}

.sidebar {
    height: 796px;
    flex-grow: 4;
    background-color: crimson;
}

.menu__list {
    padding-top: 29px;
    font-family: 'lato';
    font-size: 0.7em;
    list-style-type: none;
    text-align: center;
    color: rgb(255, 255, 255);
}

.menu__logo {
    width: 70px;
    height: 71px;
    font-family: 'courgette';
    font-size: 1.8em;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to bottom, #de6262,#dd5e89);
}

.menu__img {
    width: 20px;
}

.menu__power-button {
    margin: 585px 0;
    list-style-type: none;
    text-align: center;
}

.header__first-button {
    padding-top: 23px;
    text-align: center;
    width: 70px;
}

.header__img {
    width: 25px;
    height: 20px;
}

.header__img-kendall {
    background: cover;  
}

.header__list {
    padding-top: 23px;
    text-align: center;
    margin: 0px 1px;
    height: 71px;
    width: 59px;
}

.header__input {
    width: 673px;
    text-align: center;
}

#fname {
    width: 299px;
    height: 34px;  
    border-radius: 18px;
    border: none;
    background: rgb(243, 238, 238);
}

.header__picture {
    width: 70px;
    height: 70px;
}

.header__list__name {
    width: 173px;
    text-align: center;
}


















