* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
}

.menu {
    position: absolute;
    height: 965px;
    width: 73px;
    background-color: rgb(53, 35, 155);
}

.header {
    height: 71px;
    width: 1280px;
    flex-grow: 1;
    background-color: burlywood;
}

.statistics {
    height: 98px;
    width: 1280px;
    flex-grow: 2;
    background-color: chocolate;
}

.main {
    height: 796px;
    width: 1000px;
    flex-grow: 3;
    background-color: darkblue;
}

.sidebar {
    height: 796px;
    width: 280px;
    flex-grow: 4;
    background-color: crimson;
}




